<!DOCTYPE html>

<html class="h-100 w-100" lang="zh-Hant-tw">

<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://shinycolors.moe/static/bootstrap/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://shinycolors.moe/static/bootstrap/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/static/css/PCardViewer.css">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shinycolors.moe/info/CardInfo?UUID=<%= CardInfo.CardUUID %>">
    <meta property="og:title" content="<%= CardInfo.CardName %>">
    <meta property="og:description" content="名稱: <%= CardInfo.CardName %> 實裝日期: <%= CardInfo.ReleaseDate %> 稀有度: <%= CardInfo.CardType %>">
    <meta property="og:image" content="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>">
    <meta name="theme-color" content="<%= IdolInfo.Color1 %>">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://shinycolors.moe/info/CardInfo?UUID=<%= CardInfo.CardUUID %>">
    <meta property="twitter:title" content="<%= CardInfo.CardName %>">
    <meta property="twitter:description" content="名稱: <%= CardInfo.CardName %> 實裝日期: <%= CardInfo.ReleaseDate %> 稀有度: <%= CardInfo.CardType %>">
    <meta property="twitter:image" content="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>">

    <title><%= CardInfo.CardName %>-ShinyColorsDB</title>

    <script src="/static/javascript/spine.js"></script>
    <script src="/static/javascript/PCardViewer.js"></script>
    <!--link rel="stylesheet" href="./PCardViewer.css"-->
</head>

<body class="h-100" onload="Init();">
    <div class="container-fluid d-flex p-0 h-100">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-secondary d-inline-block h-100 col-md-2 col-sm-12" id="divSidebar">
            <a href="#" class="list-group-item p-2 bg-light text-dark custom-rounded rounded-lg" data-toggle="collapse" data-target="#divMainList">首頁</a>
            <div class="list-group well overflow-auto custom-scroll collapse" id="divMainList">
                <a href="/" class="list-group-item">ShinyColorsDB</a>
                <a href="#" class="list-group-item">最新情報</a>
                <a href="#" class="list-group-item">無限期招募前端大師= =</a>
            </div>

            <a href="#" class="list-group-item p-2 bg-light text-dark custom-rounded" data-toggle="collapse" data-target="#divIdolUnitList">角色列表</a>
            <div class="list-group well overflow-auto custom-scroll" id="divIdolUnitList">
                <% for(let i = 0; i < IdolList.length; i++) { %>
                    <a href="#" class="list-group-item" data-toggle="collapse" data-target=<%= `#unit${i + 1}` %>>
                        <i class="glyphicon glyphicon-chevron-right"></i><%= IdolList[i].UnitName %>
                    </a>
                    <div class="
                    <% if(i + 1 == IdolInfo.UnitID) { %> 
                        list-group
                    <% } else { %> 
                        list-group collapse
                    <% } %>"
                        id=<%= `unit${i + 1}` %>>
                        <% for(let k = 0; k < IdolList[i].Idols.length; k++) { %>
                            <a href=<%= `/info/IdolInfo?IdolID=${IdolList[i].Idols[k].IdolID}` %> 
                                class=" <% if(IdolList[i].Idols[k].IdolID == IdolInfo.IdolID) { %> 
                                            list-group-item active pl-4
                                        <% } else { %> 
                                            list-group-item pl-4
                                        <% } %>"> 
                                <%= IdolList[i].Idols[k].IdolName %>
                            </a>
                        <% } %>
                    </div>
                <% } %>
                
            </div>
            <a href="https://spine.shinycolors.moe" class="list-group-item p-2 bg-light text-dark custom-rounded rounded-lg">服裝Live2d~~</a>
        </div>
        <div class="col-md-7 p-3 overflow-auto">
            <h2><%= CardInfo.CardName %></h2>
            <div class="w-100">
                <img src="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>" alt="" class="img-fluid">
            </div>
            <div id="skillPanel" class="w-100 container d-flex">
                <div class="row w-100 align-items-center">
                    <div class="col-12 w-100 d-flex justify-content-center mb-n3 mt-4">
                        <div class="hex d-flex flex-column justify-content-center bg-secondary">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[0].SkillName %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 w-100 d-flex justify-content-center mb-n3 mt-n3">
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if(SkillPanel[1].IsGold) { %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[1].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if(SkillPanel[2].IsGold) { %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[2].SkillName %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 w-100 d-flex justify-content-center mb-n3 mt-n3">
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if(SkillPanel[3].IsGold) { %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[3].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if(SkillPanel[4].IsGold) { %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[4].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if(SkillPanel[5].IsGold) { %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[5].SkillName %>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 w-100 d-flex justify-content-center mb-2 mt-n3">
                        <% if (SkillPanel.length == 10) { %>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if (SkillPanel[6].IsGold){ %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[6].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if (SkillPanel[7].IsGold){ %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[7].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if (SkillPanel[8].IsGold){ %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[8].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if (SkillPanel[9].IsGold){ %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[9].SkillName %>
                            </div>
                        </div>
                        <% } else if (SkillPanel.length == 8){ %>
                        <div class="hex d-flex ml-1 mr-1 bg-secondary"></div>
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if (SkillPanel[6].IsGold){ %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[6].SkillName %>
                            </div>
                        </div>  
                        <div class="hex d-flex flex-column justify-content-center ml-1 mr-1 <% if (SkillPanel[7].IsGold){ %>bg-warning<% } else { %>bg-secondary<% } %>">
                            <div class="skillTitle align-self-center text-center">
                                <%= SkillPanel[7].SkillName %>
                            </div>
                        </div>
                        <div class="hex d-flex ml-1 mr-1 bg-secondary"></div>
                        <% } else { %>
                        <div class="hex d-flex ml-1 mr-1 bg-secondary"></div>
                        <div class="hex d-flex ml-1 mr-1 bg-secondary"></div>
                        <div class="hex d-flex ml-1 mr-1 bg-secondary"></div>
                        <div class="hex d-flex ml-1 mr-1 bg-secondary"></div>
                        <% } %>
                    </div>
                </div>
            </div>
            <!--div class="w-100 container" id="omoide">
                <table>
                    <thead>
                        <tr>
                            <th>技能名稱</th>
                            <th>技能效果</th>
                            <th>LinkAppeal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>見つける</th>
                            <td>思い出アピール[Lv1]</td>
                            <td rowspan="2">全観客にDance1.2倍アピール</td>
                        </tr>
                        <tr>
                            <th>見つける+</th>
                            <td>思い出アピール[Lv2]</td>
                        </tr>
                        <tr>
                            <th>見つける++</th>
                            <td>思い出アピール[Lv3]/Dance25%UP[ダメージを受けるまで]</td>
                            <td rowspan="3">全観客にDance2.5倍アピール</td>
                        </tr>
                        <tr>
                            <th>見つける+++</th>
                            <td>思い出アピール[Lv4]/Dance50%UP[ダメージを受けるまで]</td>
                        </tr>
                        <tr>
                            <th>[見つける]見つける</th>
                            <td>思い出アピール[Lv5]/Dance100%UP[ダメージを受けるまで]</td>
                        </tr>
                    </tbody>
                </table>
            </div-->
        </div>
        <div class="col-md-3 pr-0 pl-0 vh-100 container-fluid d-flex flex-column">
            <div class="w-100 flex-shrink-0 p-3 bg-secondary">
                <span>Type:</span>
                <select id="typeList" class="form-select w-35 pr-0" data-idolNick="<%= IdolInfo.NickName %>" data-cardUUID="<%= CardInfo.DressUUID %>" data-Exists="<%= CardInfo.DressExist %>">
                    <option value="sml_cloth0">Q版-通常服</option>
                    <option value="sml_cloth1">Q版-演出服</option>
                    <option value="big_cloth0" selected>一般-通常服</option>
                    <option value="big_cloth1">一般-演出服</option>
                </select>
                <span>Animation:</span>
                <select id="animationList" class="form-select w-30"></select>
            </div>
            <canvas id="canvas" class="flex-column p-0 w-100 h-100"></canvas>
        </div>
    </div>
</body>