<!DOCTYPE html>

<html class="h-100 w-100" lang="zh-Hant-tw">

    <head>
        <meta charset="UTF-8">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/static/css/SCardViewer.css">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://shinycolors.moe/info/CardInfo?UUID=<%= CardInfo.CardUUID %>">
        <meta property="og:title" content="<%= CardInfo.CardName %>">
        <meta property="og:description"
            content="
            名稱: <%= CardInfo.CardName %> 
            實裝日期: <%= CardInfo.ReleaseDate %> 
            稀有度: <%= CardInfo.CardType %>
        ">
        <meta property="og:image" content="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>">
        <meta name="theme-color" content="<%= IdolInfo.Color1 %>">
        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://shinycolors.moe/info/CardInfo?UUID=<%= CardInfo.CardUUID %>">
        <meta property="twitter:title" content="<%= CardInfo.CardName %>">
        <meta property="twitter:description"
            content="
            名稱: <%= CardInfo.CardName %> 
            實裝日期: <%= CardInfo.ReleaseDate %> 
            稀有度: <%= CardInfo.CardType %>"
        >
        <meta property="twitter:image" content="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>">

        <script src="/static/javascript/SCardViewer.js"></script>

        <title>
            <%= CardInfo.CardName %>-ShinyColorsDB
        </title>

    </head>

    <body class="h-100" onload="Init();">
        <div class="container-fluid d-flex p-0 h-100">
            <div class="d-flex flex-column flex-shrink-0 p-3 bg-secondary d-inline-block h-100 col-2 list-group"
                id="divSidebar">
                <a href="#" class="list-group-item p-2 bg-light text-dark custom-rounded rounded-lg"
                    data-bs-toggle="collapse" data-bs-target="#divMainList">首頁</a>
                <div class="list-group well overflow-auto custom-scroll collapse" id="divMainList">
                    <a href="/" class="list-group-item">ShinyColorsDB</a>
                    <a href="#" class="list-group-item">最新情報</a>
                    <a href="#" class="list-group-item">無限期招募前端大師= =</a>
                </div>

                <a href="#" class="list-group-item p-2 bg-light text-dark custom-rounded" data-bs-toggle="collapse"
                    data-bs-target="#divIdolUnitList">角色列表</a>
                <div class="list-group well overflow-auto custom-scroll" id="divIdolUnitList">
                    <% for(let i = 0; i < IdolList.length; i++) { %>
                        <a href="#" class="list-group-item" data-bs-toggle="collapse" data-bs-target=<%=`#unit${i + 1}` %> style="background-color: <%= IdolList[i].UnitColor %>">
                            <img src="https://static.shinycolors.moe/pictures/unitIcon/<%= i + 1 %>.png" alt="">
                            <%= IdolList[i].UnitName %>
                        </a>
                        <div class="<% if(i + 1 == IdolInfo.UnitID) { %> list-group <% } else { %> list-group collapse <% } %>"
                            id=<%=`unit${i + 1}` %>>
                            <% for(let k=0; k < IdolList[i].Idols.length; k++) { %>
                                <a href=<%=`/info/IdolInfo?IdolID=${IdolList[i].Idols[k].IdolID}` %>
                                    class=" 
                                    <% if(IdolList[i].Idols[k].IdolID==IdolInfo.IdolID) { %>
                                        list-group-item active ps-4 list-group-item-action
                                    <% } else { %>
                                        list-group-item ps-4 list-group-item-action
                                    <% } %>">
                                    <%= IdolList[i].Idols[k].IdolName %>
                                </a>
                                <% } %>
                        </div>
                        <% } %>

                </div>
                <a href="https://spine.shinycolors.moe"
                    class="list-group-item p-2 bg-light text-dark custom-rounded rounded-lg">服裝Live2d~~</a>
            </div>
            <div class="col-md-10 pt-3 ps-2 overflow-auto">
                <h2>
                    <%= CardInfo.CardName %>
                </h2>
                <div class="col-12 row">
                    <div class="col-5 p-0 d-inline">
                        <img src="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>" alt=""
                            class="img-fluid ps-3">
                    </div>
                    <div class="col-7 p-0 d-inline">
                        <div class="ps-3">
                            稀有度: <%= CardInfo.CardType %> <br>
                            實裝日期: <%= CardInfo.ReleaseDate %> <br>
                            取得方式: <%= CardInfo.GetMethod %>
                        </div>
                        <div class="ps-3">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">技能名稱</th>
                                        <th scope="col">技能描述</th>
                                        <th scope="col">最大等級</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% SupportSkills.forEach(element=> { %>
                                        <tr>
                                            <td scope="row">
                                                <%= element.SkillName %>
                                            </td>
                                            <td scope="row">
                                                <%= element.SkillDesc %>
                                            </td>
                                            <td scope="row">
                                                <%= element.SkillLevel %>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-12 row pt-4">
                    <div class="grid col-5">
                        <ul id="hexGrid">
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                        <div class="hexagon"></div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                        <div class='hexagon'></div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink d-flex align-items-center justify-content-center bg-secondary" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[0].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[0].PanelTitle %>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[2].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[2].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[2].PanelTitle %>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[1].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[1].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[1].PanelTitle %>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel.length <= 3) { %> bg-transprant no <% } else if(SkillPanel[5].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        <% if(SkillPanel.length > 3) { %>
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[5].PanelDesc %>'
                                        <% } %>>
                                        <div class="w-100 text-center">
                                            <% if(SkillPanel.length > 3 && SkillPanel[5]) { %> <%= SkillPanel[5].PanelTitle %> <% } %>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel.length <= 3) { %> bg-transprant no <% } else if(SkillPanel[4].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        <% if(SkillPanel.length > 3) { %>
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[4].PanelDesc %>'
                                        <% } %>>
                                        <div class="w-100 text-center">
                                            <% if(SkillPanel.length > 3 && SkillPanel[4]) { %> <%= SkillPanel[4].PanelTitle %> <% } %>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel.length <= 3) { %> bg-transprant no <% } else if(SkillPanel[3].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        <% if(SkillPanel.length > 3) { %>
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[3].PanelDesc %>'
                                        <% } %>>
                                        <div class="w-100 text-center">
                                            <% if(SkillPanel.length > 3 && SkillPanel[3]) { %> <%= SkillPanel[3].PanelTitle %> <% } %>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <a class="hexLink no" href="#">
                                    </a>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <% if(SkillPanel.length == 10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[9].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[9].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[9].PanelTitle %>
                                        </div>
                                    </a>
                                    <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center" href="#">
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                    <% } %>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <% if(SkillPanel.length == 10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[8].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[8].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                        <%= SkillPanel[8].PanelTitle %>
                                        </div>
                                    </a>
                                    <% } else if(SkillPanel.length == 8){ %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[7].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[7].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                        <%= SkillPanel[7].PanelTitle %>
                                        </div>
                                    </a>
                                    <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center no" href="#">                                    
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                    <% } %>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <% if(SkillPanel.length == 10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[7].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[7].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                        <%= SkillPanel[7].PanelTitle %>
                                        </div>
                                    </a>
                                    <% } else if(SkillPanel.length == 8){ %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[6].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[6].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                        <%= SkillPanel[6].PanelTitle %>
                                        </div>
                                    </a>
                                    <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center no" href="#">                                    
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                    <% } %>
                                </div>
                            </li>
                            <li class="hex">
                                <div class="hexIn">
                                    <% if(SkillPanel.length == 10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[7].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>" href="#"
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[6].PanelDesc %>'>
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[6].PanelTitle %>
                                        </div>
                                    </a>
                                    <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center no" href="#">
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                    <% } %>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-7">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">事件名稱</th>
                                    <th scope="col">Vo</th>
                                    <th scope="col">Da</th>
                                    <th scope="col">Vi</th>
                                    <th scope="col">Me</th>
                                    <th scope="col">Sp</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% SupportEvents.forEach(element=> { %>
                                    <tr>
                                        <td>
                                            <%= element.EventName %>
                                        </td>
                                        <td>
                                            <%= element.EventAddVo %>
                                        </td>
                                        <td>
                                            <%= element.EventAddDa %>
                                        </td>
                                        <td>
                                            <%= element.EventAddVi %>
                                        </td>
                                        <td>
                                            <%= element.EventAddMe %>
                                        </td>
                                        <td>
                                            <%= element.EventAddSp %>
                                        </td>
                                    </tr>
                                    <% }) %>
                            </tbody>
                        </table>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>アイデア</th>
                                    <th>ひらめき</th>
                                    <th>樂曲熟練度</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><%= IdeaMark.IdeaMark %></td>
                                    <td><%= IdolInfo.Hirameki %></td>
                                    <td>
                                        <% Proficiency.forEach(element => { %>
                                            <%= element.Proficiency %>  
                                        <% }) %>
                                        </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>