<!DOCTYPE html>

<html class="h-100 w-100" lang="zh-Hant-tw">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/static/css/default.css">
    <link rel="stylesheet" href="/static/css/SCardViewer.css">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://shinycolors.moe/info/PCardInfo?UUID=<%= CardInfo.CardUUID %>">
    <meta property="og:title" content="<%= CardInfo.CardName %>">
    <meta property="og:description" content="
            名稱: <%= CardInfo.CardName %> 
            實裝日期: <%= CardInfo.ReleaseDate %> 
            稀有度: <%= CardInfo.CardType %>">
    <meta property="og:image" content="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>.jpg">
    <meta name="theme-color" content="<%= IdolInfo.Color1 %>">
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://shinycolors.moe/info/PCardInfo?UUID=<%= CardInfo.CardUUID %>">
    <meta property="twitter:title" content="<%= CardInfo.CardName %>">
    <meta property="twitter:description" content="
            名稱: <%= CardInfo.CardName %> 
            實裝日期: <%= CardInfo.ReleaseDate %> 
            稀有度: <%= CardInfo.CardType %>">
    <meta property="twitter:image" content="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>.jpg">

    <script src="/static/javascript/SCardViewer.js"></script>

    <title>
        <%= CardInfo.CardName %>-ShinyColorsDB
    </title>

</head>

<body class="h-100" onload="Init();">
        <%- include ("../partials/header.ejs") %>
        <div class="col-md-10 pt-3 ps-2 overflow-auto">
            <h2>
                <%= CardInfo.CardName %>
            </h2>
            <div class="row col-12">
                <div class="col-md-5 p-0 d-inline carousel carousel-dark" data-bs-ride="carousel" data-bs-interval="5000"> <!---->                    
                    <div class="carousel-inner">
                        <img src="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic1 %>.jpg" alt=""
                                class="img-fluid ps-3 carousel-item active">
                        
                        <img src="https://static.shinycolors.moe/pictures/bigPic/<%= CardInfo.BigPic2 %>.jpg" alt=""
                                class="img-fluid ps-3 carousel-item">
                        
                    </div>
                </div>
                <div class="col-md-7 p-0 d-inline">
                    <div class="ps-3">
                        稀有度: <%= CardInfo.CardType %> <br>
                        實裝日期: <%= CardInfo.ReleaseDate %> <br>
                        取得方式: <%= CardInfo.GetMethod %>
                    </div>
                    <div class="ps-3">
                        <% if(CardIdolEvents.length) { %>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">事件名稱</th>                                    
                                </tr>
                            </thead>
                            <tbody> 
                                <% CardIdolEvents.forEach(e => { %>
                                <tr>
                                    <td>
                                        <a href="https://event.shinycolors.moe?eventId=<%= e.EventID %>"><%= e.EventTitle %></a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                        <% } %>
                        <% if(TrueEnd) { %>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">TrueEnd</th>                                    
                                </tr>
                            </thead>
                            <tbody> 
                                <tr>
                                    <td>
                                        <a href="https://event.shinycolors.moe?eventId=<%= TrueEnd.EventID %>">
                                            <%=TrueEnd.EventTitle%>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-12 row pt-4">
                <div class="grid col-md-5">
                    <ul id="hexGrid">
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                    <div class="hexagon"></div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                    <div class='hexagon'></div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink d-flex align-items-center justify-content-center bg-secondary"
                                    href="#" tabindex="0" role="button" data-bs-container="body"
                                    data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                    data-bs-content='<%= SkillPanel[0].SkillDesc %>'
                                    title="<%= SkillPanel[0].SkillTitle %>">
                                    <div class="w-100 text-center">
                                        <%= SkillPanel[0].SkillTitle %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[2].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                    href="#" tabindex="0" role="button" data-bs-container="body"
                                    data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                    data-bs-content='<%= SkillPanel[2].SkillDesc %>'
                                    title="<%= SkillPanel[2].SkillTitle %>">
                                    <div class="w-100 text-center">
                                        <%= SkillPanel[2].SkillTitle %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[1].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                    href="#" tabindex="0" role="button" data-bs-container="body"
                                    data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                    data-bs-content='<%= SkillPanel[1].SkillDesc %>'
                                    title="<%= SkillPanel[1].SkillTitle %>">
                                    <!--img src="https://static.shinycolors.moe/pictures/skillIcon/20003.png" alt=""-->
                                    <div class="w-100 text-center">
                                        <%= SkillPanel[1].SkillTitle %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel.length <= 3) { %> bg-transprant no <% } else if(SkillPanel[5].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                    href="#" 
                                    <% if(SkillPanel.length> 3) { %>
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[5].SkillDesc %>' title="<%= SkillPanel[5].SkillTitle%>"
                                    <% } %>>
                                    <div class="w-100 text-center">
                                        <% if(SkillPanel.length> 3 && SkillPanel[5]) { %> 
                                        <%= SkillPanel[5].SkillTitle %>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel.length <= 3) { %> bg-transprant no <% } else if(SkillPanel[4].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                    href="#" 
                                    <% if(SkillPanel.length> 3) { %>
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[4].SkillDesc %>' title="<%= SkillPanel[4].SkillTitle%>"
                                    <% } %>>
                                    <div class="w-100 text-center">
                                        <% if(SkillPanel.length> 3 && SkillPanel[4]) { %> 
                                        <%=SkillPanel[4].SkillTitle %>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel.length <= 3) { %> bg-transprant no <% } else if(SkillPanel[3].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                    href="#" 
                                    <% if(SkillPanel.length> 3) { %>
                                        tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[3].SkillDesc %>' title="<%= SkillPanel[3].SkillTitle%>"
                                    <% } %>>
                                    <div class="w-100 text-center">
                                        <% if(SkillPanel.length> 3 && SkillPanel[3]) { %> 
                                        <%=SkillPanel[3].SkillTitle %>
                                        <% } %>
                                    </div>
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <a class="hexLink no" href="#">
                                </a>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <% if(SkillPanel.length==10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[9].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                        href="#" tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[9].SkillDesc %>'
                                        title="<%= SkillPanel[9].SkillTitle %>">
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[9].SkillTitle %>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center" href="#">
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                <% } %>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <% if(SkillPanel.length==10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[8].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                        href="#" tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[8].SkillDesc %>'
                                        title="<%= SkillPanel[8].SkillTitle %>">
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[8].SkillTitle %>
                                        </div>
                                    </a>
                                <% } else if(SkillPanel.length==8){ %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[7].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                        href="#" tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[7].SkillDesc %>'
                                        title="<%= SkillPanel[7].SkillTitle %>">
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[7].SkillTitle %>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center no"
                                        href="#">
                                            <div class="w-100 text-center">
                                            </div>
                                    </a>
                                <% } %>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <% if(SkillPanel.length==10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[7].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                        href="#" tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[7].SkillDesc %>'
                                        title="<%= SkillPanel[7].SkillTitle %>">
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[7].SkillTitle %>
                                        </div>
                                    </a>
                                <% } else if(SkillPanel.length==8){ %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[6].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                        href="#" tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[6].SkillDesc %>'
                                        title="<%= SkillPanel[6].SkillTitle %>">
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[6].SkillTitle %>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center no"
                                        href="#">
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                <% } %>
                            </div>
                        </li>
                        <li class="hex">
                            <div class="hexIn">
                                <% if(SkillPanel.length==10) { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center <% if(SkillPanel[6].PanelIsGold) { %> bg-warning <% } else { %> bg-secondary <% } %>"
                                        href="#" tabindex="0" role="button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-trigger="focus" data-bs-placement="top"
                                        data-bs-content='<%= SkillPanel[6].SkillDesc %>'
                                        title="<%= SkillPanel[6].SkillTitle %>">
                                        <div class="w-100 text-center">
                                            <%= SkillPanel[6].SkillTitle %>
                                        </div>
                                    </a>
                                <% } else { %>
                                    <a class="hexLink d-flex align-items-center justify-content-center no" href="#">
                                        <div class="w-100 text-center">
                                        </div>
                                    </a>
                                <% } %>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-7 container">
                    <h4>回憶綻放</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">技能名稱</th>
                                <th scope="col">技能說明</th>
                                <th scope="col">連結技能</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% CardMemoryAppeal.forEach(e => { %>
                            <tr>
                                <td><%= e.MemoryTitle %></td>
                                <td><%= e.MemoryDesc %></td>
                                <td><%= e.LinkSkillDesc %></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>